:root {
  --color-blue: rgb(33, 150, 243);
  --color-black: rgb(0, 0, 0);
  --color-dark-gray1: rgb(33, 33, 33);
  --color-gray1: rgb(117, 117, 117);
  --color-white1: rgb(255, 255, 255);
  --color-dark-blue: rgb(47, 48, 58);
  --color-white2: rgb(245, 244, 250);
  --color-gray2: rgb(175, 177, 184);
  --bg-overlay: rgba(47, 48, 58, 0.4);
  --bg-overlay2: rgba(255, 255, 255, 0.1);
  --bg-overlay3: rgba(47, 48, 58, 0.8);
  --bg-overlay4: rgba(33, 150, 243, 0.9);
  --bg-overlay5: rgba(0, 0, 0, 0.2);
  --bg-overlay6: rgba(0, 0, 0, 0.1);
  --bg-overlay7: rgba(255, 255, 255, 0.3);
  --bg-overlay8: rgba(255, 255, 255, 0.6);
  --border-color1: rgb(236, 236, 236);
  --border-color2: rgb(238, 238, 238);
  --border-color3: rgba(33, 33, 33, 0.2);
  --shadow-color1: rgba(0, 0, 0, 0.15);

  --shadow1: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  --btn-shadow1: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --animation-time: 250ms;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

*:focus {
  outline: none;
}

body {
  color: var(--color-dark-gray1);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button:hover {
  cursor: pointer;
}

.list-item {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--color-gray1);
  font-weight: 500;

  transition: color var(--animation-time) var(--animation-timing);
}

.button {
  color: var(--color-dark-gray1);
  background-color: var(--color-white2);

  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--animation-timing);
}

.button:hover,
.button:focus,
.application__form .button,
.newsletter-form .button {
  background-color: var(--color-blue);
  color: var(--color-white1);
  box-shadow: var(--btn-shadow1);
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.header .container,
.header .menu .menu-item,
.list-container,
.footer .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--border-color1);
}

.header .container {
  height: 80px;
}

.header .container nav,
.header nav .menu,
.header nav .menu .menu-item {
  height: 100%;
}

.header nav .menu {
  margin-left: 93px;
  column-gap: 46px;
}

.header .menu .menu-item {
  position: relative;
}

.menu-item.active .link::after {
  content: "";

  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 5px;
  background-color: var(--color-blue);
}

.header .menu-item .link {
  color: var(--color-dark-gray1);
}

.header .menu-item .link:hover,
.header .menu-item .link:focus,
.header .menu-item.active .link,
.link:hover,
.link:focus,
.link.active {
  color: var(--color-blue);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--color-black);
}

.header .logo {
  color: var(--color-black);
}

.header-link-icon {
  --path1-color: currentColor;

  margin: 0 8px 3px 0;
  vertical-align: middle;
}

.header .links {
  margin-left: auto;
  column-gap: 30px;
}

.section {
  padding: 94px 0;
  text-align: center;
}

.section .list-container {
  gap: 30px;
}

.hero-section .container {
  padding: 106px 252px;
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  padding: 0 25px 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section,
.footer {
  background-color: var(--color-dark-blue);
  color: var(--color-white1);
}

.hero-section {
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)),
    url(../images/backgrounds/hero.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1600px 600px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 30px;
  padding: 12px 40px;
  box-shadow: 0px 4px var(--shadow-color1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: var(--bg-overlay5);
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility;
  transition: calc(var(--animation-time) * 2) var(--animation-timing);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal {
  width: 528px;
  height: 581px;
  background-color: var(--color-white1);
  border: 1px solid var(--bg-overlay6);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  box-shadow: var(--shadow1);
}

.modal__close-button {
  margin: 8px 8px 0;
  border: 1px solid var(--bg-overlay6);
  border-radius: 50%;
  background-color: var(--color-white1);
  padding: 5px 8px;
}

.application__header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.application__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: left;
  margin: 12px 40px;
}

.application__form .link {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: 400;
}

.application__label,
.application__form-field,
.application__text-input,
.application__textarea {
  display: block;
  width: 100%;
}

.application__label {
  font-size: 12px;
  color: var(--color-gray1);
}

.application__form-field {
  position: relative;
}

.application__text-input-icon {
  --path1-color: currentColor;

  position: absolute;
  top: 11px;
  left: 12px;
  color: var(--color-dark-gray1);

  transition: color var(--animation-time) var(--animation-timing);
}

.application__form-field:focus-within .application__text-input-icon {
  color: var(--color-blue);
}

.application__text-input,
.application__textarea {
  margin-top: 6px;
  padding: 12px 42px;
  border: 1px solid var(--border-color3);

  transition: border-color var(--animation-time) var(--animation-timing);
}

.application__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.application__textarea::placeholder {
  color: var(--color-gray1);
  opacity: 0.5;
}

.application__form-field:focus-within .application__text-input,
.application__form-field:focus-within .application__textarea {
  border-color: var(--color-blue);
}

.application__checkbox {
  appearance: none;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  border-radius: 10%;

  transition: background var(--animation-time) var(--animation-timing);
}

.application__checkbox:checked {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10'%3E%3Cpath fill='%23fff' d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' stroke-width='0.2'/%3E%3C/svg%3E"), var(--color-blue);
  background-repeat: no-repeat;
  background-position: center;
}

.application__label:has(.application__checkbox) {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.application__form-field:has(.application__checkbox) {
  display: inline;
  margin-right: 8px;
}

.application__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  --path1-color: var(--color-dark-gray1);
}

.application__submit-button {
  margin-top: 20px;
  padding: 10px 76px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
}

.advantage {
  text-align: left;
}

.advantage-card {
  background-color: var(--color-white2);
}

.advantage-picture {
  padding: 25px 100px;
}

.advantage-description {
  background-color: var(--color-white1);
  padding-top: 30px;
}

.advantage-title {
  text-transform: uppercase;
  font-size: 14px;
}

.advantage-content {
  color: var(--color-gray1);
  line-height: 1.71;
  margin-top: 10px;
}

.section-header {
  color: var(--color-dark-gray1);
  font-size: 36px;
  margin-bottom: 50px;
}

.about-section {
  padding-top: 0;
}

.about-section .gallery-image {
  position: relative;
}

.about-section .gallery-image-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: var(--bg-overlay3);
  color: var(--color-white1);
  font-size: 14px;
}

.our-team-section {
  background-color: var(--color-white2);
}

.section .card {
  background-color: var(--color-white1);
  justify-content: space-between;
}

.card {
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: var(--shadow1);
}

.card .card-caption {
  padding: 30px 0;
}

.card-title {
  color: var(--color-dark-gray1);
  font-weight: 500;
}

.card-description {
  color: var(--color-gray1);
  margin-top: 10px;
}

.section .social-media-icons,
.footer .social-media-icons {
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.social-media-icons .list-item {
  margin: 0;
}

.social-media-icons .link {
  color: var(--color-white1);
}

.social-media-icons .link:hover,
.social-media-icons .link:focus {
  color: var(--color-blue);
}

.link:focus .social-media-icon,
.link:hover .social-media-icon {
  --path4-color: var(--color-white1);
  --path5-color: currentColor;
}

.client-logos .link {
  color: var(--color-gray2);
}

.client-logos .link:hover,
.client-logos .link:focus {
  color: var(--color-blue);
}

.client-logo {
  --path4-color: var(--color-gray2);

  border: 1px solid var(--color-gray2);
  border-radius: 4px;
  padding: 14px 32px;

  transition: border var(--animation-time) var(--animation-timing);
}

.client-logo:hover,
.client-logo:focus {
  border: 1px solid var(--color-blue);
}

.link:hover .client-logo,
.link:focus .client-logo {
  --path4-color: currentColor;
}

.portfolio-section .filters {
  justify-content: center;
  gap: 8px;
}

.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
}

.portfolio-section .projects {
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 27px;
}

.projects .list-item {
  text-align: left;
  border: 1px solid var(--border-color2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.projects .card {
  box-shadow: none;
  transition: box-shadow var(--animation-time) var(--animation-timing);
}

.projects .card .card-image {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.projects .card .card-image .overlay-description {
  position: absolute;
  top: 101%;
  left: 0;
  height: 100%;
  padding: 49px 45px 0 24px;
  background-color: var(--bg-overlay4);
  color: var(--color-white1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  transition: transform var(--animation-time) var(--animation-timing);
}

.projects .card .card-caption {
  padding: 20px 24px;
}

.projects .card .card-caption .card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects .card .card-caption .card-description {
  line-height: 1.8;
  margin-top: 4px;
  font-weight: 400;
}

.projects .card:hover,
.projects .link:focus .card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .card:hover .overlay-description,
.projects .link:focus .overlay-description {
  transform: translateY(-101%);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
  align-items: start;
  align-content: space-between;
  column-gap: 75px;
  flex-wrap: wrap;
  max-height: 252px;
}

.footer .logo {
  color: var(--color-white1);
}

.footer .address {
  font-style: normal;
  line-height: 1.71;
  font-weight: 400;
  margin-top: 20px;
}

.address .link {
  padding-top: 9px;
}

.footer-header {
  margin: 10px 0;
  font-size: 14px;
}

.footer .social-media-icons,
.footer .newsletter-form {
  margin: 20px 0;
}

.footer .social-media-icons .link {
  color: var(--bg-overlay2);
}

.footer .social-media-icons .link:hover,
.footer .social-media-icons .link:focus {
  color: var(--color-blue);
}

.footer .social-media-icon {
  --bg-color3: var(--bg-color4);
  --path5-color: var(--bg-overlay2);
}

.footer .newsletter-form {
  display: flex;
  column-gap: 10px;
}

.footer .newsletter-form__email {
  width: 358px;
  background-color: transparent;
  border: 1px solid var(--bg-overlay7);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 15px 16px;
}

.footer .newsletter-form__email,
.footer .newsletter-form__email::placeholder {
  color: var(--bg-overlay8);
}

.footer .newsletter-form__submit {
  position: relative;
  width: 200px;
  padding: 10px 28px 10px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
}

.footer .newsletter-form__send-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 24px;

  --path1-color: var(--color-white1);
}

.logo .logo-blue {
  color: var(--color-blue);
}
